{% extends 'layouts/base.html' %}

{% block title %}
Edit a photo
{% endblock title %}

{% block heading %}
Edit a photo
{% endblock heading %}

{% block content %}
<form method="POST" action="{{ url_for('main.editPhoto', photo_id=photo.id) }}">
    {{ form.hidden_tag() }}
    <div class="edit-container">
        <div class="image-box">
            <img class="image" src="{{ url_for('main.display_file', name=photo.file) }}" alt="image">
        </div>
        <div class="input-box">
            <div class="input-container">
                {{ form.user.label }}
                {{ form.user(class_='input-field') }}
            </div>
            <div class="input-container">
                {{ form.caption.label }}
                {{ form.caption(class_='input-field') }}
            </div>
            <div class="input-container">
                {{ form.description.label }}
                {{ form.description(class_='input-field') }}
            </div>
            <div class="input-container button green">
                {{ form.submit(class_='btn btn-primary') }}
                <a href="{{ url_for('main.homepage') }}" class="btn">Cancel</a>
            </div>
        </div>
    </div>
</form>
{% endblock content %}