{% extends 'layouts/base.html' %}

{% block title %}
Upload a photo
{% endblock title %}

{% block heading %}
Upload a photo
{% endblock heading %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="input-container button" title="File size should be under 1MB">
        {{ form.fileToUpload.label }}
        {{ form.fileToUpload(class_='input-field') }}
    </div>
    <div class="input-container">
        {{ form.user.label }}
        {{ form.user(class_='input-field') }}
    </div>
    <div class="input-container">
        {{ form.caption.label }}
        {{ form.caption(class_='input-field') }}
    </div>
    <div class="input-container">
        {{ form.description.label }}
        {{ form.description(class_='input-field') }}
    </div>
    <div class="input-container button green">
        {{ form.submit(class_='btn btn-primary') }}
        <a href="{{ url_for('main.homepage') }}" class="btn">Cancel</a>
    </div>
</form>
{% endblock content %}